[Unit]
Description=Python OTGW MQTT bridge
After=network-online.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/pi/py-otgw-mqtt
ExecStart=/usr/bin/python3 .
Restart=on-failure
RestartSec=30s

[Install]
WantedBy=multi-user.target
